
body {
	font-family: Arial;
}

/* -------------- MENU ----------------*/
aside {
	position: fixed;
	width: 150px;
}

.dog-list {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
	background-color: #c8c8c8;
	padding: 10px;
	margin: 10px;
	text-align: center;
}


/* ------------- MAIN ----------------*/
main {
	width: 100%;
	text-align: center;
}

.div-dog {
	width: 310px;
	margin: 0 auto;
}