
body {
	font-family: Arial;
}

/* -------------- MENU ----------------*/
aside {
	position: fixed;
	width: 150px;
}

.dog-list {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
	background-color: #deb887;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

li:hover {
	background-color: #f5deb3;
}

/* ------------- MAIN ----------------*/
main {
	width: 100%;
	text-align: center;
}

.dog-display {
	width: 310px;
	margin: 0 auto;
}